language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  - SYMFONY_VERSION=2.2.*
  - SYMFONY_VERSION=2.3.*

before_script:
  - composer self-update
  - composer require symfony/http-foundation:${SYMFONY_VERSION} --no-update
  - composer require symfony/http-kernel:${SYMFONY_VERSION} --no-update
  - composer require symfony/dependency-injection:${SYMFONY_VERSION} --no-update
  - composer require symfony/config:${SYMFONY_VERSION} --no-update
  - composer install --dev --prefer-source --no-interaction --no-progress

script: phpunit --coverage-text
